<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>s</h1>
    <p>
      <a href="http://localhost:3000/cats/fact"> Get A <%= title %></a>
    </p>
  </body>
</html>
